{# empty Twig template #}

{% block icon_cell -%}
    <td class="cell-icon">
        {#{% if data.attributes.class is defined %}
            {% set iconclass = (attribute(data.attributes.class, data.value) is defined) ? attribute(data.attributes.class, data.value) : 'default' %}
            <i class="{{ iconclass }}"></i>
        {% else %}
            <i class="{{ data.value }}"></i>
        {% endif %}#}
        <i class="{{ data.value }}"></i>
    </td>
{% endblock icon_cell %}

{% block checkbox_cell -%}
    <td>
        <input type="checkbox" />
    </td>
{% endblock checkbox_cell %}

{% block datetime_cell -%}
    {{- block('simple_cell') -}}
{% endblock datetime_cell %}

{% block text_cell -%}
    {{- block('simple_cell') -}}
{% endblock text_cell %}

{% block textarea_cell -%}
    <td>
        {{ data.value[:20] }}
    </td>
{% endblock textarea_cell %}

{% block integer_cell -%}
    {{- block('simple_cell') -}}
{% endblock integer_cell %}

{% block count_cell -%}
    {{- block('simple_cell') -}}
{% endblock count_cell %}

{% block bootstrap_collection_cell -%}
    <td>
        {% if data.value|length < 1 %}
            {% for value in data.value %}
                {{ value }}{% if loop.last == false %},{% endif %}
            {% endfor %}
        {% else %}
            -
        {% endif %}
    </td>
{% endblock bootstrap_collection_cell %}

{% block label_cell -%}
    <td>
        {% if data.attributes.class is defined %}
            {% set class = (attribute(data.attributes.class, data.value) is defined) ? attribute(data.attributes.class, data.value) : 'default' %}
            <span class="label label-{{ class }}">{{ data.value }}</span>
        {% else %}
            <span class="label label-default">{{ data.value }}</span>
        {% endif %}
    </td>
{% endblock label_cell %}

{% block simple_cell -%}
    {% if data.value != null %}
        <td>
            {% if data.value is iterable %}
                {% for value in data.value %}
                    {{ value }}
                {% endfor %}
            {% else %}
                {% if data.property in ['title', 'name', 'username'] %}
                    <a href="{{ path('opifer.crud.edit', {'slug': slug, 'id': row.id}) }}">
                        {{ data.value }}
                    </a>
                {% elseif data.property in ['email'] %}
                    <a href="mailto:{{ data.value }}">{{ data.value }}</a>
                {% else %}
                    {{ data.value }}
                {% endif %}
            {% endif %}
        </td>
    {% else %}
        {{ block('empty_cell') }}
    {% endif %}
{% endblock simple_cell %}

{% block empty_cell -%}
    <td>-</td>
{% endblock %}
