<table class="table">
    <thead>
        <tr>
            {#<th width="25"><input type="checkbox" id="checkbox-all" /></th>#}
            {% for column in grid.columns %}
                {{ include('OpiferCrudBundle:Datagrid:th.html.twig') }}
            {% endfor %}

            {% if grid.options['actions'] is defined %}
                <th class="actions">&nbsp;</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for row in grid.rows %}
            <tr>
                {#<td><input type="checkbox" name="item[]" value="{{ row.id }}" /></td>#}
                {% for data in row.cells %}
                    {% if data['options']['template'] is defined %}
                        {{ include(data['options']['template']) }}
                    {% else %}
                        {{ include('OpiferCrudBundle:Datagrid:td.html.twig') }}
                    {% endif %}
                {% endfor %}
                {% if grid.options['actions'] is defined %}
                    <td class="actions">
                        {% for action, data in grid.options['actions'] %}
                            {% if data.template is defined %}
                                {{ include(data.template) }}&nbsp;
                            {% else %}
                                {{ include('OpiferCrudBundle:Datagrid:action_'~action~'.html.twig') }}&nbsp;
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

        {{ include('OpiferCrudBundle:Datagrid:confirmation.html.twig') }}
    </tbody>
</table>
