<form action="#" method="POST" class="clearfix">
    <table class="table">
        <thead>
            <tr>
                {% if grid.options.batch_actions|length %}
                    <th width="25"><input type="checkbox" id="checkbox-all" class="js-batch-select-all" /></th>
                {% endif %}

                {% for column in grid.columns %}
                    {{ include('OpiferCrudBundle:Datagrid:th.html.twig') }}
                {% endfor %}

                {% if grid.options['actions'] is defined %}
                    <th class="actions">&nbsp;</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in grid.rows %}
                <tr>
                    {% if grid.options.batch_actions|length %}
                        <td><input type="checkbox" name="batchselect[]" value="{{ row.id }}" class="batch-select" /></td>
                    {% endif %}

                    {% for data in row.cells %}
                        {{ include('OpiferCrudBundle:Datagrid:td.html.twig') }}
                    {% endfor %}

                    {% if grid.options['actions'] is defined %}
                        <td class="actions">
                            {% for action, data in grid.options['actions'] %}
                                {% if data.template is defined %}
                                    {{ include(data.template) }}&nbsp;
                                {% else %}
                                    {{ include('OpiferCrudBundle:Datagrid:action_'~action~'.html.twig') }}&nbsp;
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            {{ include('OpiferCrudBundle:Datagrid:confirmation.html.twig') }}
        </tbody>
    </table>
    
    {% include 'OpiferCrudBundle:Datagrid:batch_actions.html.twig' with {'batch_actions': grid.options.batch_actions} %}
</form>

{% if grid.paginator %}
    <div class="row">
        <div class="col-xs-8 pagination-col">
            {{ include('OpiferCrudBundle:Pagination:paginator.html.twig', {'pagination': grid.paginator, 'query': query}) }}
            {{ include('OpiferCrudBundle:Pagination:indicator.html.twig', {'pagination': grid.paginator}) }}
        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-2 pagination-size">
            {{ include('OpiferCrudBundle:Pagination:limit.html.twig') }}
        </div>
    </div>
{% endif %}
