{% if data is not null %}
<td>
    {% if data.value is iterable %}
        {% for value in data.value %}
            {% if data.property in ['roles'] %}
                {{ label_info(value|plainrolename) }}
            {% else %}
                {{ value }}
            {% endif %}
        {% endfor %}
    {% else %}
        {% if data.property in ['title', 'name', 'username'] %}
            <a href="{{ path('opifer.crud.edit', {'slug': slug, 'id': row.id}) }}">
                {{ data.value }}
            </a>
        {% elseif data.property in ['email'] %}
            <a href="mailto:{{ data.value }}">{{ data.value }}</a>
        {% elseif data.type in ['label'] %}
            <span class="label label-default">{{ data.value }}</span>
        {% else %}
            {{ data.value }}
        {% endif %}
    {% endif %}
</td>
{% endif %}
