{% extends extend_template %}

{% block body %}
    {% block edit_header %}
    <div class="page-header clearfix">
        <h1 class="pull-left">
            {% if slug ends with 's' %}
                {% set title = slug[1:] %}
            {% endif %}
            <span class="iconl icon-{{ slug }}"></span>
            {% if entity.id is defined %}
                {% if entity.name is defined %}
                    {{ entity.name|capitalize }}
                {% else %}
                    Update {{ title }}
                {% endif %}
            {% else %}
                {{ 'crud.new.title'|trans({'%slug%': title})|capitalize }}
            {% endif %}
        </h1>
    </div>
    {% endblock edit_header %}
    
    {% block edit_form %}
        <section class="page-section">
            {{ form_start(form, { 'style': 'horizontal', 'attr': {'novalidate':'novalidate'} })}}
                {% set submit = form_widget(form.save) %}
                {{ form_rest(form) }}
                
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        {{ submit|raw }}
                        <a class="btn btn-link" role="button" href="{{ path('opifer.crud.index', { 'slug': slug }) }}">Cancel</a>
                    </div>
                </div>
            {{ form_end(form) }}
        </section>
    {% endblock %}
{% endblock %}
