{% extends extend_template %}

{% block body %}
    <div class="page-header clearfix">
        <h1 class="pull-left">
            <span class="iconl icon-{{ slug }}"></span>{{ 'crud.list.title'|trans({'%slug%': slug})|capitalize }}
        </h1>
        <a href="{{ path('opifer.crud.new', {'slug': slug}) }}" class="btn btn-default pull-right">
            {{ 'button.add'|trans|capitalize }}
        </a>
    </div>

    {% if grid.rows %}
        <section class="row list-controls">
            {{ include('OpiferCrudBundle:Pagination:indicator.html.twig', {'pagination': grid.paginator}) }}

            {{ include('OpiferCrudBundle:Datagrid:filters.html.twig') }}

            {{ include('OpiferCrudBundle:Pagination:paginator.html.twig', {'pagination': grid.paginator, 'query': query}) }}
        </section>

        <section class="row list-table">
            <div class="col-xs-12">
                {{ include('OpiferCrudBundle:Datagrid:table.html.twig') }}
            </div>
        </section>
    {% else %}
        <div class="alert alert-warning">
            {{ 'crud.list.empty'|trans({'%slug%': slug}) }}
        </div>
    {% endif %}
{% endblock %}
