{% extends 'OpiferCrudBundle::base.html.twig' %}

{% block opifer_crud_body %}
    {% block list_header %}
        <div class="page-header clearfix">
            <a href="{{ path('opifer.crud.new', {'slug': slug}) }}" class="btn btn-default pull-right">
                {{ 'button.add'|trans|capitalize }}
            </a>
            <h1 class="">
                <span class="iconl icon-{{ slug }}"></span>{{ 'crud.list.title'|trans({'%slug%': slug})|capitalize }}
            </h1>
        </div>
    {% endblock %}

    {% block list_grid %}
        {% if grid.rows %}
            <section class="list-controls">
                <div class="row">
                    {{ include('OpiferCrudBundle:Datagrid:filters.html.twig', {'form': grid.viewform}) }}
                </div>
            </section>

            <section class="list-table">
                {{ include('OpiferCrudBundle:Datagrid:table.html.twig') }}
            </section>
        {% else %}
            <div class="alert alert-warning">
                {{ 'crud.list.empty'|trans({'%slug%': slug}) }}
            </div>
        {% endif %}
    {% endblock %}

    {% block list_pagination %}
        <div class="clearfix">
            <div class="col-xs-8 pagination-col">
                {{ include('OpiferCrudBundle:Pagination:paginator.html.twig', {'pagination': grid.paginator, 'query': query}) }}
                {{ include('OpiferCrudBundle:Pagination:indicator.html.twig', {'pagination': grid.paginator}) }}
            </div>
            <div class="col-xs-2">
            </div>
            <div class="col-xs-2 pagination-size">
                {{ include('OpiferCrudBundle:Pagination:limit.html.twig') }}
            </div>
        </div>
    {% endblock %}
{% endblock opifer_crud_body %}
